@font-face {  

    font-family: platnomor;
    src: url(./assets/PlatNomor-WyVnn.ttf);
}

html, body {
    height: 100%;
    font-family: platnomor, Arial, Helvetica, sans-serif, serif ;

}

.wrapper {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 20% 30% 30% 20%;
    grid-template-rows: 18% 39% 39%;
    grid-template-areas: "navigation header header header" "navigation projects projects announcements_trending" 
    "navigation projects projects announcements_trending";
}

.header {
    height: 100%;
    background-color: #fcfcfc;
    grid-area: header;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 40% auto;
    grid-template-areas: "left . right" "left . right";
    border-bottom: 1px gray;
    box-shadow: 0px 4px 2px 0px #C9c7c7;
}

.left {
    grid-area: left;
}

.right {
    grid-area: right;
}

.header .left {
    display: grid;
    grid-template-rows: 1fr 1fr;    
    margin-left: 10px;
    align-items: center;
    justify-items: center;
}

.header .greetings {
    display: grid;
    grid-template-columns: 30% 70%;    
    grid-template-areas: "profile-picture greeting" "profile-picture username";
}

.greetings .profile-picture {
    grid-area: profile-picture;
    display:flex;
    justify-content: flex-start;
}

.greetings img {
    border-radius: 50%;
    height: 50px;
    width: auto;
    padding: 5px;
    background-color: #db281f;
}

.greetings .hello {
    grid-area: greeting;
    font-size: 0.85rem;
}

.greetings .username {
    grid-area: username;
    margin-top: 5px;
    min-width: max-content;
}

.right {
    display: grid;
    grid-template-rows: 1fr 1fr;
    margin-top: 10px;
    gap: 5px;
}

.right .top {
    display: grid;
    grid-template-columns: 25% 25% auto;
    align-items: center;

}

.top .notification-button {
    justify-self: end;
    
}

.top .profile-picture {
    justify-self: center;
}

.top img {
    padding: 5px;
    border-radius: 50%;
    height: 40px;
    width: auto;
    justify-self: center;
    background-color: #db281f;
}

.top .username {
    justify-self: start;
}

.right .bottom {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}

.right .bottom a {
    all: unset;
    text-decoration: none;    
    background-color: #312E81;
    width: 6rem;
    padding: 8px 15px;
    color: white;
    border-radius: 15px;
    text-align: center;
    cursor: pointer;
}

/* searchbar html and css from  https://pagedart.com/blog/how-to-add-a-search-bar-in-html/ */

.header form {    
    width: 300px;
    height: 44px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 11px;
    background-color: #cfcccc;
    width: 50ch;
    min-width: 25ch;
  }

  .header form:focus-within {
      border: 1px inset rgba(51, 50, 50, 0.219);
  }

  .header input {
    all: unset;
    font: 16px system-ui;
    color: #fff;
    height: 100%;
    width: 100%;
    padding: 6px 10px;
  }

  .header button {
    all: unset;
    cursor: pointer;
    width: 44px;
    height: 44px;
  }

  .header svg {
    color: rgb(71, 70, 70);
    fill: currentColor;
    width: 24px;
    height: 24px;
    padding: 10px;
  }
 

.navigation {
        background-image: linear-gradient(120deg, #020204, #5538cd);
    grid-area: navigation;
    display: grid;
    grid-template-rows: 45% 5% 25% auto;
    grid-template-areas: "navigation-menu" "." "navigation-settings" ".";
    color: white;
    gap: 10px;
    }

.navigation a {
    text-decoration: none;
    color: inherit;
    width: 100%;
    display: grid;
    grid-template-columns: 35% 65%;
    align-self: center;
}

svg {
    justify-self: center;
}

.navigation-menu {    
    grid-area: navigation-menu;
    display: grid;
    grid-template-rows: 30% auto auto auto auto auto auto;    
}

.navigation-menu :first-child {
    font-size: 1.75rem;
}

.navigation-settings {    
    grid-area: navigation-settings;   
    
}

.navigation-settings-menu {
    height: 100%;
    display: grid;
    grid-template-rows: repeat(3, auto);
    align-content: space-evenly;
}

.projects {
    background-color: #d6dcf1;
    grid-area: projects;
    margin-top: 4px; 
    padding: 10px 10px 0 10px;       
    height: auto; 
}

.projects .heading {
    font-size: 1.5rem
}

.cards-wrapper {
    margin-top: 10px;
    padding: 0 10px 0 10px;
    display: grid;    
    grid-template-columns: repeat(auto-fill, minmax(50ch, 1fr));
    gap: 15px;
    height: 90%;
    overflow-y: hidden;     
    
}

.card {
    border-radius: 10px;
    height: 200px;
    box-shadow: 2px 4px 5px 0px #2a2e31;
    border-left: 7px solid #56c51e;
    background-color: #ffffff;
    display: grid;
    grid-template-rows: 20% 65% 15%;

}

.card h3,
.card p {
    padding: 0 5px 0 5px;
}

.card p {
    font-size: 0.85em;
    font-family: Arial, Helvetica, sans-serif;
    color: #878282;
}

.card-options {
    display: flex;  
    justify-content: flex-end;  
}

.card-options a {
    text-decoration: none;
    color: #4e4b4b;
    padding: 0 10px;
}

.announcements_trending {
    margin-top: 4px;     
    background-color: #d6dcf1;
    height: 99%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-area: announcements_trending;
    grid-template-areas: "announcements" "trending";
    gap: 10px;
    padding-bottom: 3px;
    
}

.annoucements {
    grid-area: announcements;
    background-color: #d6dcf1;    
    margin-top: 4px;
    padding-top: 10px;
    width: 85%;
    max-height: 340px;

}
.annoucements .heading {
  margin: 10px 0 10px 0;
  font-size: 1.5rem;
}

.announcements-wrapper {
    display: grid;
    grid-template-rows: 30% 30% 30%;
    background-color: #ffffff;
    height: 100%;
    max-height: 270px;    
    border-radius: 10px;
    box-shadow: 2px 4px 5px 0px #2a2e31;   
    padding: 5px 10px 0px 10px; 
}

.announcements-wrapper :nth-child(3) {
    
    box-shadow: inset 0px 1px 0px 0px #7D897E;
}

.announcements-card {    
    border-bottom: 1px black;
    padding: 5px;
    overflow-y: hidden;
}

.announcements-card h4 {
    font-size: 00.85em;
    margin: 5px 0 2px 0;
    padding-top: 3px;
}

.announcements-card p {
    font-size: 0.7rem;
    margin: 2px 0 5px 0;
    color: #878282;
    font-family: Arial, Helvetica, sans-serif;    
    padding-bottom: 3px;
}

.trending {
    grid-area: trending;
    width: 85%;
    max-height: 90%;
    overflow-y: clip;
    
}

.trending .heading {
    margin: 10px 0 10px 0;
    font-size: 1.5rem
}

.trending-wrapper {
    background-color: #ffffff;
    grid-area: trending;
    height: 100%;    
    display: grid;
    grid-template-rows: repeat(4, 25%);
    border-radius: 10px;
    box-shadow: 2px 4px 5px 0px #2a2e31;     
    max-height: 270px;   
    
}

.trending-card {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "profile-picture handle" "profile-picture projectname";    
    max-height: min-content;
}

.trending-profile-picture {
    grid-area: profile-picture;
    display: flex;
    align-items:center;
    justify-content: space-evenly;
}

.trending-handle {
    grid-area: handle;
    font-size: 0.9rem;
    align-self: flex-end;
    padding-bottom: 3px;
}

.trending-projectname {
    grid-area: projectname;
    font-size: 0.85rem;
    color: #878282;
}

.trending img {
    height: 40px;
    border-radius: 50%;
    padding: 4px;
}

#one {
    background-color: #b0b83f;
}

#two {
    background-color: #db281f;
}

#three{
    background-color: #2727a7;
}

#four {
    background-color: #b62eb6;
}